#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-O_Instituto {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Graduacao {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-PosG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Pesquisa {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Extensao {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Servicos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Menu7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Menu8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Menu9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Servicos_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Background_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Menu9_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Servicos_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta10_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Menu8_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Menu7_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Servicos_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta6_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Extensao_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta5_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Pesquisa_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta4_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-PosG_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta3_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Submenu3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Submenu2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Submenu1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Graduacao_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta2_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-O_Instituto_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Seta1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Caixa_Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Texto_da_noticia {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Subtitulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Caixa_Background_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Texto_da_noticia_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Subtitulo_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Titulo_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Caixa_Background_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Texto_da_noticia_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Texto_da_noticia_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Subtitulo_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Titulo_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Caixa_Background_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Subtitulo_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Titulo_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Caixa_Background_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Subtitulo_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Titulo_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Pagina1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Spacer {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Pagina2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Spacer_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Pagina3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Spacer_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Pagina4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Spacer_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Pagina5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Spacer_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-PaginaCont {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Spacer_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-PaginaProx {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Endereco {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Mapa_do_site {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Versao_desktop {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-INF_logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Botao_mouse_over_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Botao_pressionado {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Icone_Menu_Hamburger {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Botao_mouse_over {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Icone_busca {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Botao_mouse_over_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Botao_mouse_over_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Branco_Alto_cont {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Preto_Alto_cont {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Botao_mouse_over_19 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Branco_Aum_fonte_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Preto_Aum_fonte_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Botao_mouse_over_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Branco_Norm_fonte_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Preto_Norm_fonte_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Botao_mouse_over_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Branco_Dim_fonte {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d #s-Preto_Dim_fonte {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow: hidden;
}
#s-35aae497-b9b6-42bc-ae92-0c059546680d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}