#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-O_Instituto {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Seta1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Graduacao {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Seta2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-PosG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Seta3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Pesquisa {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Seta4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Extensao {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Seta5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Servicos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Seta6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Menu7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Menu8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Menu9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Background_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Menu9_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Menu8_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Menu7_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Servicos_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Seta6_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Extensao_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Seta5_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Pesquisa_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Seta4_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-PosG_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Seta3_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Submenu3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Submenu2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Submenu1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Graduacao_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Seta2_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-O_Instituto_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Seta1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Background_branco {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Botao_enviar_email {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Endereco {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Mapa_do_site {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Versao_desktop {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-INF_logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Botao_mouse_over_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Botao_pressionado {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Icone_Menu_Hamburger {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Botao_mouse_over {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Icone_busca {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Botao_mouse_over_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Botao_mouse_over_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Branco_Alto_cont {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Preto_Alto_cont {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Botao_mouse_over_19 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Branco_Aum_fonte_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Preto_Aum_fonte_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Botao_mouse_over_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Branco_Norm_fonte_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Preto_Norm_fonte_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Botao_mouse_over_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Branco_Dim_fonte {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 #s-Preto_Dim_fonte {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-992dc2eb-d6c6-4ee8-aa67-bdd15c987018 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}